config.yaml
bot_data/
.env

__pycache__/
*.py[cod]
*.pyo
.venv/
.uv-cache/
.envrc

.mypy_cache/
.ruff_cache/
.pytest_cache/

docker-compose.override.yml

*.md
!README.md
!DEVELOPMENT.md
!.github/SECURITY.md
*.txt
